<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tittle %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div id="wrap">
		<div class="error">
			<div class="error-img">
				<img src="/img/error-narval.png">
			</div>
			<h2><%= error_tittle %> </h2>
            <p><%= error_msg %> </p>
            <a href="/">
                <button class="btn btn-lg btn-primary">Ir para a página inicial</button>
            </a>
		</div>
	</div>    
</body>
</html>