<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Batalha Narval - Home</title>

  <script defer src="/js/jquery-3.5.1.min.js"></script>
  <script defer src="/js/bootstrap.min.js"></script>
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="/js/home.js"></script>
  <script defer src="/js/online.js"></script>
  <script defer src="/js/utilitaries.js"></script>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/online-sidebar.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/message.css">
</head>

<body>
  <div id="msg" class="container"></div>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Batalha Narval</a>

      <div class="collapse navbar-collapse" id="navbar-items">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ranking">Ranking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Sobre</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <img id="user-ico" src="/img/user-ico.png" class="dropdown-toggle" href="#" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            <div class="dropdown-menu" aria-labelledby="user_dropdown">
              <a class="nav-link" href="#" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Perfil</a>
              <a class="nav-link" href="/logout" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Deslogar</a>
              <a class="nav-link" href="#" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Deslogar</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="content">
    <div id="sidebar-content">
      <ul id="online-list" class="sidebar-nav">
        <li class="sidebar-brand">
          <a>
            Usuários online:
          </a>
        </li>
      </ul>
    </div>
  </div>
</body>


</html>