<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Baralha Narval</title>
    <link rel="icon" href="/img/logo-narval.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <script defer src="/js/jquery-3.5.1.min.js"></script>
    <script defer src="/js/login.js"></script>
</head>
<body>
    <div class="container" align="center">
        <img src="/img/logo-narval.png">
        <h1 class="title-bat">Batalha Narval</h1>
        <form id="form-signin" class="form-signin" method="POST">
            <input id="username" type="username" name="username" class="form-control" placeholder="Seu usuário" autocomplete="off" required autofocus>
            <input id="password" type="password" name="password" class="form-control" placeholder="Senha" required>
            <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Jogar</button>
            <p class="text-light">Ainda não tem conta? <a class="text-light glow" href="/register">cadastre-se</a></p>
            <p class="mt-4 mb-3 text-muted form">© 2020</p>
          </form>
    </div>
</body>
</html>