<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Batalha Narval</title>
    <link rel="icon" href="/img/logo-narval.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/message.css">
    <script defer src="/js/jquery-3.5.1.min.js"></script>
    <script defer src="/js/register.js"></script>
</head>
<body>
    <div id="msg" class="container"></div>
    <div id="container" class="container" align="center">
        <img src="/img/baby-narval.png">
        <h1 class="title-bat">Cadastro</h1>
        <form id="form-signin" class="form-signin" action="" method="">
            <input id="username" type="username" name="username" class="form-control" placeholder="Digite um usuário" autocomplete="off" required autofocus>
            <input id="password" type="password" name="password" class="form-control" placeholder="Digite uma senha" required>
            <input id="confirm-password" type="password" class="form-control" placeholder="Repita a senha" required>
            <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Cadastrar</button>
            <p class="mt-5 mb-3 text-muted form">© 2020</p>
          </form>
    </div>    
</body>
</html>