.navbar {
    
    background-color: #809BBD;
}

.navbar a{
    font-family: "yellow-rabbit";
    font-size: 30px;
    color: #fff;
    padding: 0;
    border: 0;
}

.dropdown .nav-link:hover {
    color: rgb(228, 226, 226);
    background: rgba(255, 255, 255, 0.2);
}

.dropdown-menu {
    background-color: rgba(153, 169, 185, 0.8);
    border-radius: 8px;
}

#navbar-items li{
    padding-left: 30px;
}

#user-ico {
    filter: opacity(80%);
    width: 50px;
}

#user-ico:hover{
    filter:opacity(100%);
}