@keyframes glow {
    to {
        text-shadow: 1px 1px 3px #028aac, 1px 1px 5px #1bb5db, 1px 1px 7px #29a7c7;
    }
}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.container img {
    max-width: 300px;
    height: auto;
    padding-top: 60px;
    -webkit-filter: drop-shadow(20px 0px rgb(19, 37, 59));
    filter: drop-shadow(20px 0px rgb(19, 37, 59));
}

.title-bat {
    font-family: grafitti;
    font-size: 60px;
    color: aliceblue;
}

.form-signin {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin #username {
    margin-bottom: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.form-signin #password {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}